version: 2.1

orbs:
  # https://circleci.com/orbs/registry/orb/circleci/orb-tools
  orb-tools: circleci/orb-tools@9.1.1
  runtime-optimizer: rckeller/runtime-optimizer@<<pipeline.parameters.dev-orb-version>>

orb_prep_jobs:
  - orb-tools/lint
  - orb-tools/shellcheck
  - orb-tools/pack

parameters:
  dev-orb-version:
    default: 'dev:alpha'
    type: string
  run-integration-tests:
    default: false
    type: boolean

jobs:
  integration-tests:
    docker:
      - image: cibuilds/base
    steps:
      - checkout
      # CASE: Something has changed - continue running job
      - runtime-optimizer/halt-if-unchanged:
          git_url: <<pipeline.project.git_url>>
          base_revision: <<pipeline.git.base_revision>>
          revision: <<pipeline.git.revision>>
          watch: ".circleci src README.md" # everything
      # CASE: No changes to watched files, so halt job
      - runtime-optimizer/halt-if-unchanged:
          watch: "LICENSE" # should never change
      - run:
          name: "[runtime-optimizer/halt-if-unchanged] - failed to halt"
          command: echo "FAILURE - should've exited" && exit 1

workflows:
  integration-tests_prod-release:
    jobs:
      - integration-tests
      - orb-tools/dev-promote-prod-from-commit-subject:
          add-pr-comment: false
          fail-if-semver-not-indicated: false
          filters:
            branches:
              only: master
          orb-name: rckeller/runtime-optimizer
          publish-version-tag: false
          requires:
            - integration-tests
    when: << pipeline.parameters.run-integration-tests >>
  lint_pack-validate_publish-dev:
    jobs:
      - orb-tools/lint
      - orb-tools/shellcheck
      - orb-tools/pack
      - orb-tools/publish-dev:
          orb-name: rckeller/runtime-optimizer
          requires:
            - orb-tools/lint
            - orb-tools/shellcheck
            - orb-tools/pack
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          requires:
            - orb-tools/publish-dev
    unless: << pipeline.parameters.run-integration-tests >>
